@inherits NumericInputComponentBase
<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">@Model.Label</label>
    </div>
    <div class="field-body">
        <div class="field has-addons">
            <p class="control">
                <a class="button is-static">@Model.Symbol</a>
            </p>
            <p class="control is-expanded" >
                <input class="input has-text-right" type="text" @bind="@InputValue" />
            </p>
            @if (Model.Range > 0)
            {
                <p class="control" title="Date of maturity if the transaction is processed before @TomorrowUTC.ToLocalTime().ToShortTimeString().">
                    <input class="input" type="date" min="@MinimumDateString" max="@MaximumDateString" @bind="@Date" />
                </p>
                <p class="control">
                    <div class="select">
                        <select @bind="@SelectedOption">
                            <option disabled selected value>Preset durations</option>
                            @foreach (var option in RelativeAmountOptions)
                            {
                                <option value="@option.Label">@option.Label</option>
                            }
                        </select>
                    </div>
                </p>                
            }
        </div>
    </div>
</div>
