 <div class="is-flex is-flex-direction-row is-justify-content-space-between is-size-7">
        <div class="is-flex"><span>Stake ID:</span>&nbsp;<span class="stake-id">@Stake.StakeId</span></div>
        <div class="is-flex"><span>Staked:</span>&nbsp;<span class="stakeable symbol">@Stake.StakeableSymbol</span>&nbsp;<span
                class="stake stakeable principal">@Stake.StakedAmount.Scaled.AmountString</span></div>
        <div class="is-flex"><span class="stake duration days">@Stake.StakedDays</span>&nbsp<span>days</span></div>
        <div class="is-flex"><span class="stake shares">@Stake.Shares.Scaled.AmountString Shares</span></div>
    </div>